$def with (authed, shows=None, fileout='', jobs=None)

$if authed == 'true':
    $if jobs:
        <h2>Scheduled jobs:</h2>
        <ul>
        $for job in jobs:
            $if loop.first:
                <h3>Main job:</h3>
            $else:
                <h3>Show fetching:</h3>
            <li>$job</li>
        </ul>
        <a href="?t=runnow">Run flexget now</a>
    $elif shows:
        <h3>New shows:</h3>
        $for show in shows:
            $if not 'previous' in show and show['aquired'] == False:
                $show['showname']<br />
        <h4>Still looking for:</h4>
        $for show in shows:
            $if 'previous' in show and show['aquired'] == False:
                $show['showname']<br />
    $else:
        <h3>No new shows this day</h3>

$elif authed == 'failed':
    <h3>Failed to log in!</h3>
$elif authed == 'generated':
    <h3>Config file:</h3>
    <textarea rows="20" cols="75" wrap="off">$:fileout</textarea>
    <p>Tomorrow: <a href="?t=config&u=new">Regenerate!</a> - <a href="?t=config&u=newsched">Regenerate & schedule!</a></p>
    <p>Today: <a href="?t=config&u=newtoday">Regenerate!</a> - <a href="?t=config&u=newschedtoday">Regenerate & schedule!</a></p>
    <p>Yesterday: <a href="?t=config&u=newyesterday">Regenerate!</a></p>
$elif authed == 'logfile':
    <h3>Log file:</h3>
    <textarea rows="20" cols="75" wrap="off">$:fileout</textarea>
$else:
    <h3>Log in to start the scheduler!</h3>
