$def with (action, start, end)

$if action == 'saved':
    <h3>Settings saved!</h3>

<form class="general" method="post" action="settings?s=general">
  <label for="start">Fetch start</label><input type="text" name="start" title="Hours after shows air before looking for torrent, default:1" value="$start" /><br />
  <label for="end">Fetch end</label><input type="text" name="end" title="How long to look for torrent, default: 8" value="$end" /><br />
  <br /><input type="submit" name="submit" value="Save" />
</form>
