$def with (action, email='', rss='', flexget='', path='', dq='', hq='', lm='', error=None)

$if error:
    $for err in error:
        <h3>$err</h3>

$if action == 'empty':
    <h3>Some necessary fields are empty!</h3>
$elif action == 'saved':
    <h3>Settings saved!</h3>

<form class="general" method="post" action="settings?s=flexget">
  <label for="email">Email</label><input type="text" name="email" title="Email address to send info to" value="$email" /><br />
  <label for="rss">Rss URL</label><input type="text" name="rss" title="rss to use" value="$rss" /><br />
  <label for="flexget">Flexget bin path</label><input type="text" name="flexget" title="Full path to flexgets binary" value="$flexget" /><br />
  <label for="path">Download path</label><input type="text" name="path" title="Full path to where torrents will be saved" value="$path" /><br />
  <label for="dq">Default quality</label><input type="text" name="dq" title="Default quality to download" value="$dq" /><br />
  <label for="hq">High quality</label><input type="text" name="hq" title="Definition of high quality" value="$hq" /><br />
  <label for="lm">Limit start number</label><input type="text" name="lm" title="Number of torrents flexget should download at once" value="$lm" /><br />
  <br /><input type="submit" name="submit" value="Save" />
</form><br />

