$def with (action, username='', password='')

$if action == 'empty':
    <h3>Some fields are empty!</h3>
$elif action == 'saved':
    <h3>Credentials saved!</h3>

<form class="general" method="post" action="settings?s=myepisodes">
  <label for="myusername">Username</label><input type="text" name="myusername" title="Your username on myepisodes.com" value="$username" /><br />
  <label for="mypassword">Password</label><input type="password" name="mypassword" title="Your password on myepisodes.com" value="$password" /><br />
  <br /><input type="submit" name="submit" value="Save" />
</form>
